body{
    font-family: Arial Narrow, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-menu {
    color: #e5e7eb;;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    font-size: 12px;
    padding: 0 180px;
}
.first-link{
    margin-left: auto;
}
#headerlogo{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    gap: 10px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 80px 180px;
    color: #E5E7EB;
    font-size: 20px;
    gap: 100px;
}

.image-placeholder {
    background-color: #787a7c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 400px;
    height: 100px;
    flex-shrink: 0;
}
#hero-title {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}

#hero-button{
    background-color: #3882F6;
    align-self: flex-start;
    padding: 5px 25px;
    border-radius: 8px;
}

.random-info-section {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding:50px;
}
.random-info-header {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
}
.random-info-subsections {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.pic-text {
    max-width: 125px;
}
.random {
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 10px;
}
.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7Eb;
    padding: 130px 300px;
}

.quotation {
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

.quote-attribution {
    text-align: end;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.call-to-action-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 200px;
    background-color: #3882F6;
    padding: 40px;
    border-radius: 10px;
    color: #F9FAF8;
}
.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.call-to-action {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin:0;
}
#sub-section {
    font-size: 18px;
    font-weight: normal;
}
.action-button {
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 2px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    font-size: 18px;
}
#copyright {
    text-align: center;
    color: #e5e7Eb;
    background-color: #1F2937;
    padding: 40px;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 0;
}
